@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;0,1000;1,400&display=swap');
@import "../css/reset.css";

/* variables.css */
@import "../css/variables.css";
/* component */
@import "../css/components/header.css";
@import "../css/components/nav.css";
/* screen */
@import "../css/screen/main_playlist.css";
@import "../css/screen/main_playlist_creator.css";
@import "../css/screen/main_playlist_list.css";
@import "../css/screen/main_nowplay.css";
@import "../css/screen/main_nowplay_album.css";
@import "../css/screen/main_nowplay_progressBar.css";
@import "../css/screen/main_nowplay_controller.css";


body {
	line-height: 1;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.wrap {
    width: 100%;
    height: 100vh;
    background-color: var(--grey_1);
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    cursor: pointer;
}
/* input:focus-visible {
    outline: 1px solid var(--yellow);
}
input::placeholder {
    color: var(--grey_1);
    font-size: 14px;
} */
/* .title {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.sub_title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    line-height: 1.4;
}
.starBox {
    display: flex;
    margin-bottom: 15px;
}
.starBox i {
    margin-right: 3px;
    color: var(--yellow);
} */
/* scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--grey_1);
    border-radius: 50px;
}